body{
    background-color: white;
    margin:0;
    height: 100%;
    width: 100%;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: white;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0;
    font-family: "Merriweather", serif;
    position: fixed;
    z-index: 6;
}
html{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#name {
    display: flex;
    align-items: center;
    float: right;
    margin: 0 2%;
    flex-direction: row;
}

#name h3 {
    color: black;
    margin-left: 15px;
    font-size: 20px;
}

#name img {
    height: 50px;
    width: 50px;
    padding: 5px 3px;
}

#options {
    flex-grow: 1;
    float: right;
    margin: 0 0%;
    align-self: center;
}

#options ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#options ul li {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px;
}

#options ul a {
    text-decoration: none;
    color: black;
}

#options ul li:hover a {
    font-weight: 800;
}

#click  {
    font-weight: 600;
    border-bottom-style: solid;
    padding-bottom: 0.5px;
    }

#book {
    display: flex;
    align-items: center;
    float: left;
    margin: 0 8dvw;
}

#book button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    background-color: #fc772f;
    border-radius: 15px 3px 15px 3px;
    display: block;
}
#book :hover{
    box-shadow: 5px 5px 5px #5E7797;
}
@media only screen and (max-width: 1000px){
    #options{
    width:200px;
    }

}
@media only screen and (max-width: 767px) {
    #options {
        width: 100%;
        padding:0;
        height: fit-content;
        order:1;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        flex:2;
        transform: scale(0.9);
    }
    #options ul{
        justify-content: center;
    }
    #options ul li {
        font-size: 16px;
        margin: 0;
        padding: 0 5dvw;
        width:fit-content;
    }
    .header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        height: auto;
    }
    #book{
        margin-left: auto;
    }
    #name{
        flex-direction: column;
        margin: 0;
        width: fit-content;
    }
}
