.home {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100%;
    padding-top: 15dvh;
    border: 0;
    background: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    align-items: center;
    justify-content: space-between;
}

#intro {
    padding: 0 0;
    display:flex;
    flex-direction: column;
    justify-self: center;
    flex-wrap: wrap;
    width: 55dvw;
}

#intro h1 {
    font-size: 50px;
    float: left;
    width: 50dvw;
    display:flex;
    align-self: flex-start;
    text-align: left;
    padding-bottom: 4px;
    padding-left: 10dvw;
}

#intro p{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width:37dvw;
    text-align: left;
    align-self: flex-start;
    margin: 0;
    line-height: 25px;
    padding-left: 10vw;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-left: 10dvw;
    padding-top: 3dvh;
    width: fit-content;
    flex-wrap: nowrap;

}
#menu-button button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    background-color: #000000;
    border-radius: 15px 3px 15px 3px;
    margin: 0 20px 20px 0;
    display: block;
}
#menu-button :hover{
    box-shadow: 5px 5px 5px #5E7797;
}
#book1 button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    background-color: #fc772f;
    border-radius: 15px 3px 15px 3px;
    display: block;
}
#book1 :hover{
    box-shadow: 5px 5px 5px #5E7797;
    
}
.follow1{
    padding-left: 10dvw;
    padding-top: 3dvh;
    display: flex;
    flex-wrap: nowrap;
}
.fb1{
    position: relative;
    width:65px;
    height:65px; 
    bottom: 20px;
}
.ig1{
    width:60px;
    position: relative;
    height:60px; 
    bottom: 17px;
    right:10px; 
}
.x1{
    position: relative;
    width:75px;
    height:65px; 
    bottom: 20px;
    right:20px;
}
.pics{
    width: 45dvw;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 5vw;
}
.a{
    width:400px;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
}
.bg{
    width:400px;
    height: 500px;
    display: block;
    position: relative;
    border-radius: 30px 13px 30px 13px;
}
.heart{
    position: absolute;
    width: 200px;
    top:250px;
    /* left:200px; */
    right:310px;
    rotate: -10deg;
}
.menu {
    display: flex;
    height: fit-content;
    margin: 0;
    border: 0;
    width: 100%;
    background-color: rgba(155,171,192,0.3);
    font-family: "Merriweather", serif;
    flex-direction: column;
}
.menu1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    overflow-y:visible;
    padding-top: 10dvh;
}
#menu-heading h1{
    font-size: 40px;
    margin-bottom: 20px;
    width:fit-content;
    align-items: center;
}
#menu-heading p{
    width: 30dvw;
    line-height: 25px;
    font-size: 15px;
    text-align: left;
    align-self: center;

}
.dishes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 70px;
    justify-content: space-evenly;
    flex-shrink: 1;
    flex-wrap: wrap;
}
#dish1{
    width: 200px;
    height: 270px;
    display: flex;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px 13px 30px 13px;
    box-shadow: 5px 5px 5px #5E7797;
    margin: 2dvw;
    flex-direction: column;
    position: static;
    padding-left: 5px;
}
#dish1 img{
    height: 170px;
    width: 170px;
    position: relative;
    left: 10px;
}
#dish1 h3{
    position: relative;
    text-align: center;
    bottom:10px;
}
#dish1 p{
    width:90%;
    position: relative;
    font-size: 10px;
    left:30px;
    /* bottom: 20px; */
}
#dish2{
    width: 200px;
    height: 260px;
    display: flex;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px 13px 30px 13px;
    box-shadow: 5px 5px 5px #5E7797;
    margin: 2dvw;
    flex-direction: column;
    position: static;
}
#dish2 img{
    height: 150px;
    width: 170px;
    position: relative;
    left: 10px;
    /* top:5px; */
}
#dish2 h3{
    position: relative;
    text-align: center;
    /* bottom:10px; */
}
#dish2 p{
    width:90%;
    position: relative;
    font-size: 10px;
    left:30px;
    top:10px;
}
#dish3{
    width: 200px;
    height: 260px;
    display: flex;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px 13px 30px 13px;
    box-shadow: 5px 5px 5px #5E7797;
    margin: 2dvw;
    flex-direction: column;
    position: static;
}
#dish3 img{
    height: 250px;
    width: 250px;
    position: relative;
    /* right: 5px; */
    bottom: 19px;
    transform: rotate(90deg);
}
#dish3 h3{
    position: relative;
    text-align: center;
    bottom:50px;
}
#dish3 p{
    width:90%;
    position: relative;
    font-size: 10px;
    left:30px;
    bottom: 40px;
}
#dish4{
    width: 200px;
    height: 260px;
    display: flex;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px 13px 30px 13px;
    box-shadow: 5px 5px 5px #5E7797;
    margin: 2dvw;
    flex-direction: column;
    position: static;
   
}
#dish4 img{
    height: 170px;
    width: 170px;
    position: relative;
    /* bottom:11px; */
    left: 15px;
    
}
#dish4 h3{
    position: relative;
    text-align: center;
    bottom: 18px;
}
#dish4 p{
    width:90%;
    position: relative;
    font-size: 10px;
    left:30px;
    bottom: 9px;
}
#dish5{
    width: 200px;
    height: 260px;
    display: flex;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px 13px 30px 13px;
    box-shadow: 5px 5px 5px #5E7797;
    margin: 2dvw;
    flex-direction: column;
    position: static;
    padding-right: 5px;
}
#dish5 img{
    height: 120px;
    width: 120px;
    position:relative;
    left:35px;
    top: 17px;
    border-radius: 70px;
}
#dish5 h3{
    position: relative;
    text-align: center;
    top:30px;
}
#dish5 p{
    width:90%;
    position: relative;
    font-size: 10px;
    left:30px;
    top:40px;
}
.menu2{
    display: flex;
    flex-direction: row;
    padding-top: 0dvh;
    margin-bottom: 50px;
    height: 100vh;
    align-items: center;
}
.pics2{
    width: 45dvw;
    height: fit-content;
    display:flex;
    flex-direction: column;
    /* justify-self: center; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 5vw;
}
#fire {
    width:300px;
    height: 400px;
    position: relative;
    border-radius: 30px 13px 30px 13px;
}

#wlc {
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50dvw;
}

#wlc h1 {
    font-size: 40px;
    float: right;
    width: 40dvw;
    display:flex;
    align-self: flex-start;
    text-align: left;
    padding-bottom: 4px;
    position: static;
}

#wlc p{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width:27dvw;
    text-align: left;
    align-self: flex-start;
    margin: 0;
    line-height: 25px;
}

.btn2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    padding-top: 3dvh;
    flex-wrap: wrap; 
    align-self: flex-start;

}
#menu-button2 button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    background-color: #000000;
    border-radius: 15px 3px 15px 3px;
    margin: 0 20px 20px 0;  
}
#book2 button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    background-color: #fc772f;
    border-radius: 15px 3px 15px 3px;
}
.last {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    padding-top: 15dvh;
    border: 0;
    background: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    align-items: center;
    justify-content: space-between;
}
.part1 {
    background-color: #489154;
    width: 850px;
    height: 250px;
    background-image: url(/Pictures/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px 13px 30px 13px;
    
}
.part1 h4{
    font-size: 30px;
    width:500px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 20px;
}
.h{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-right: 20px;
    height: 45px;
    border-radius: 15px 3px 15px 3px;
}
input{
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    color: #5C7399;
    display: flex;
    border-radius: 15px 3px 15px 3px;
    display: block;
    align-items: center;
    border-style: none;
    padding-left: 10px;
}
.h button {
    border: none;
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 150px;
    background-color: #fc772f;
    border-radius: 15px 3px 15px 3px;
    display: block;
}
.h :hover{
    box-shadow: 5px 5px 5px #000000;
}
.part2 {
    width: 100%;
    height: 250px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.dd{
    display: flex;
    flex-direction: column;
}
#name1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#name1 h3 {
    color: black;
    margin-left: 15px;
    font-size: 25px;
}

#name1 img {
    height: 60px;
    width: 60px;
    padding: 5px 3px;
}
.p{
    width: 400px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    text-align: left;
    align-self: flex-start;
    margin: 0;
    line-height: 25px;
}
.learn{
    font-weight: 1000;
    text-decoration: underline;
}
.time{
    padding: 30px;
}
.time h3{
    font-size: 15px;
}
.time p{
    font-size: 12px;
    line-height: 22px;
}
.ft-menu, .nav{
    padding: 30px;
}
.ft-menu ul, .nav ul{
    list-style-type: none;
    
}
.ft-menu ul li, .nav ul li{
    font-size: 12px;
    line-height: 22px;
}
.ft-menu h5, .nav h5{
    font-size: 15px;
}
.nav ul a{
    text-decoration: none;
    color: #000000;
}
.follow{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.follow h5{
    font-size: 15px;
    height: fit-content;
    position: relative;
    left:18px;
    bottom: 20px;
}
.fb{
    position: relative;
    width:65px;
    height:65px; 
    top:15px;
    right:70px;
}
.ig{
    width:60px;
    position: relative;
    height:60px; 
    top:17px;
    right:80px; 
}
.x{
    position: relative;
    width:75px;
    height:65px; 
    top:15px;
    right:90px;
}
@media only screen and (max-width: 1000px){
    .home {
        height:auto;
        flex-wrap: wrap;
    }
    #menu-heading p{
        width:40dvw;
    }
    .menu{
        height: auto;
    }
    .part1{
        width: 90%;
        h4{
            width:90%;
            font-size: 20px;
        }
    }
    input{
        width:100%;
    }
    .part2{
        scale: 0.6;
    }
}

@media only screen and (max-width: 767px){
    .home {
        height:100vh;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    #intro{
        margin-left: 10px;
        padding-left: 0px;
        /* transform: scale(0.7); */
        
        padding-right: 0;
        width:40%;
    }
    #intro h1 {
        font-size: 20px;
        width: 100%;
        padding-left: 0;
    }
    #intro p{
        width: 100%;
        font-size: 10px;
        padding-left: 0;
    }
    .btn{
        width: 100%;
        padding-left: 0;
        transform: scale(0.7);
        flex-grow:2;
    }
    .follow{
        width: 100%;
        padding-left: 0;
        transform: scale(0.8);
        right:100px;
        display: flex;
        flex-wrap: nowrap;
    }
    .pics{
        /* transform: scale(0.5); */
        justify-content: flex-start;
        padding-left: 0;
        position: relative;
        right:50px;
    }
    .a{
        transform: scale(0.5);
        right:70px;
    }
    .menu{
        height: fit-content;
        justify-content: flex-start;
    }
    #menu-heading{
        transform: scale(0.8);
        p, h1{  
            width:100vw;
            text-align: center;
        }
    }
    .menu1{
        align-items: flex-start;
        justify-content: flex-start;
        height: fit-content;
        width: 100vw;
    }
    .dishes{
        display: grid;
        width: 100vw;
    }
    #dish1,#dish2,#dish3,#dish4,#dish5{
        padding-top: 30px;
        scale: 0.95;
    }
    .pics2{
        scale: 0.5;
    }
    #fire{
        right:50px;
    }
    #wlc{
        justify-content: flex-end;
        
        h1{
            width:100%;
            font-size: 20px;
            float: right;
        }
        p{
            width:100%;
            font-size: 15px;
        }
    }
    .btn2{
        width: 100%;
        padding-left: 0;
        transform: scale(0.7);
        flex-grow:2;
    }
}
@media only screen and (min-height: 720px){
    .home, .menu1,.menu2{
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }
}